<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.jinchen" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>锦谈</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />

        <icon src="res/icon/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/icon/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/icon/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/icon/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />


        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <!-- <config-file parent="/*" target="AndroidManifest.xml">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.RECORD_AUDIO" />
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file> -->
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/icon/ios/AppIcon.appiconset/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/icon/ios/AppIcon.appiconset/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/AppIcon.appiconset/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/icon/ios/AppIcon.appiconset/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/AppIcon.appiconset/icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/AppIcon.appiconset/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/AppIcon.appiconset/icon-40@2x.png" width="80" height="80" />
        <!-- iPad Pro -->
        <icon src="res/icon/ios/AppIcon.appiconset/icon-167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/AppIcon.appiconset/icon-29.png" width="29" height="29" />
        <icon src="res/icon/ios/AppIcon.appiconset/icon-29@2x.png" width="58" height="58" />
        <icon src="res/icon/ios/AppIcon.appiconset/icon-29@3x.png" width="87" height="87" />
        <!-- iPad Pro -->
        <icon src="res/icon/ios/AppIcon.appiconset/icon-83.5@2x.png" width="167" height="167" />

        <!-- <edit-config target="UIBackgroundModes" file="*-Info.plist" mode="merge">
            <array>
              <string>audio</string>
              <string>remote-notification</string>
            </array>
        </edit-config> -->
        <edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
            <string>need microphone access to record sounds</string>
        </edit-config>
    </platform>
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />

    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightContent" />
    <!-- （否则在Android上状态栏显示不出来） -->
    <preference name="Fullscreen" value="false"/>
</widget>
